<!-- Right Side -->
<div class="right-side">

    <app-header [heading]="'Notifications'" [sub-heading]="'View your notifications'"></app-header>
    <!-- Header --> 

    <!-- Main Content -->
    <main class="main-content pt-20">
      <div class="theme-holder">
        <div class="notification-detail">
          <a href="#" class="noti-icon f-left"><i class="fas fa-bell"></i></a>
          <div class="notifications-text">
            <strong>John Doe</strong>
            <b>Latest News</b>
          </div>
          <a href="#" class="f-right"><i class="fas fa-times fa-2x"></i></a>
        </div>
        <div class="notification-detail">
          <a href="#" class="noti-icon f-left"><i class="fas fa-bell"></i></a>
          <div class="notifications-text">
            <strong>John Doe</strong>
            <b>Latest News</b>
          </div>
          <a href="#" class="f-right"><i class="fas fa-times fa-2x"></i></a>
        </div>
        <div class="notification-detail">
          <a href="#" class="noti-icon f-left"><i class="fas fa-bell"></i></a>
          <div class="notifications-text">
            <strong>John Doe</strong>
            <b>Latest News</b>
          </div>
          <a href="#" class="f-right"><i class="fas fa-times fa-2x"></i></a>
        </div>
        <div class="notification-detail">
          <a href="#" class="noti-icon f-left"><i class="fas fa-bell"></i></a>
          <div class="notifications-text">
            <strong>John Doe</strong>
            <b>Latest News</b>
          </div>
          <a href="#" class="f-right"><i class="fas fa-times fa-2x"></i></a>
        </div>
        <div class="notification-detail">
          <a href="#" class="noti-icon f-left"><i class="fas fa-bell"></i></a>
          <div class="notifications-text">
            <strong>John Doe</strong>
            <b>Latest News</b>
          </div>
          <a href="#" class="f-right"><i class="fas fa-times fa-2x"></i></a>
        </div>
        <div class="notification-detail">
          <a href="#" class="noti-icon f-left"><i class="fas fa-bell"></i></a>
          <div class="notifications-text">
            <strong>John Doe</strong>
            <b>Latest News</b>
          </div>
          <a href="#" class="f-right"><i class="fas fa-times fa-2x"></i></a>
        </div>
      </div>
    </main>
    <!-- Main Content -->

  </div>
  <!-- Right Side -->