<!-- Header -->
 <header class="header" [class.clearfix]="heading">
    <!-- Logo -->
    <h1 class="logo" *ngIf="heading">
      <a href="dashboard.html">
        <img src="../../assets/images/Header/logo.png" alt="Logo">
      </a>
    </h1>
    <!-- Logo -->

    <ng-template #headingSet>
      <div class="your-profile">
        <h2>{{ heading }}</h2>
        <p>{{ sub_heading }}</p>
      </div>
    </ng-template>
   
    <div class="login-info">
      <a href="#" class="bell-icon"><i class="fas fa-bell"></i><b>3</b></a>
      <strong>Hi, John</strong>
      <a href="#" class="login-img">
        <img src="../../assets/images/Header/login-customer.png" alt="Login-customer">
      </a>
    </div>
  </header>
  <!-- Header -->