.mat-stepper-horizontal, .mat-stepper-vertical {
    background: none !important;
}
.step-icon {
   
}
.step-label {
    color: #fff;
}

 ::ng-deep .mat-vertical-stepper-header-container {
    border: solid 1px red; 
  }
  
  ::ng-deep mat-vertical-stepper-header, mat-vertical-stepper-header {
    border: dashed 1px blue; 
    padding: 1em;
  }
  .mat-step-header .mat-step-icon{
    background-color: #fff !important;
    color: #8b6dff !important;
  }

  .mat-step-header .mat-step-label.mat-step-label-active{
      color:white;
  }

  .mat-stepper-vertical-line::before {
    border-left-color: white;
  }