<!-- Right Side -->
<div class="right-side">
    <!-- Header -->
    <app-header [heading]="'Easy Questionnaire'" [sub-heading]="'Follow simple steps for your requirement'"></app-header>
    <!-- Header -->

    <!-- Main Content -->
    <main class="main-content pt-30">
      
        <div fxFlex>
         <mat-vertical-stepper #stepper *ngIf="technology">
            <mat-step label="Step 1" *ngFor="let tech of technology">
              
                <div class="questionnaire-holder">
                    <div class="questionnaire-detail">
                      <h5>1<i class="fas fa-long-arrow-alt-right"></i>How can we help you?<strong>(Please select  from below multiple options)</strong></h5>
                      <ng-container  *ngFor="let t of tech">
                        <app-question-card  [question-card]='t' (selected-question-card)="onSelect($event)"></app-question-card>
                        </ng-container>
                    </div>
                  </div>
            </mat-step>
         </mat-vertical-stepper>        
        </div>
          
      
        
      <div class="easy2 pt-30">
        <div class="questionnaire-holder">
          <div class="questionnaire-detail">
            <h5>1<i class="fas fa-long-arrow-alt-right"></i>How can we help you?<strong>(Please select  from below multiple options)</strong></h5>
            <div class="card">
              <a href="#">
                <img src="assets/images/main-content/questionnaire-img-01.png" alt="Strategist">
                <mat-icon>format_align_center</mat-icon>

                <strong>App Design</strong>
              </a>
            </div>
            <div class="card">
              <a href="#">
                <img src="assets/images/main-content/questionnaire-img-02.png" alt="Strategist">
                <strong>App Design</strong>
              </a>
            </div>
            <div class="card">
              <a href="#">
                <img src="assets/images/main-content/questionnaire-img-03.png" alt="Strategist">
                <strong>App Design</strong>
              </a>
            </div>
            <div class="card">
              <a href="#">
                <img src="assets/images/main-content/questionnaire-img-04.png" alt="Strategist">
                <strong>App Design</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Main Content -->




  </div>
  <!-- Right Side -->