<!-- Left Side -->
<div class="left-side">

    <!-- Main Menu -->
    <!-- Navigation -->
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar5">
              <span class="sr-only">Toggle navigation</span>
              <i class="fas fa-bars icon-bar"></i>
          </button>
        <div class="logo-2">
          <h1><a href="dashboard.html"><img src="../../assets/images/Header/logo-2.png" alt="Logo"></a></h1>
        </div>
        </div>
        <div id="navbar5" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li routerLinkActive="active"><a routerLink="/dashboard"><i class="fab fa-windows"></i>Dashboard</a></li>
          <li routerLinkActive="active"><a routerLink="/profile"><i class="fas fa-user"></i>Profile</a></li>
          <li routerLinkActive="active"><a routerLink="/notification"><i class="fas fa-bell"></i>Notifications</a></li>
          <li routerLinkActive="active"><a routerLink="/work"><i class="fas fa-envelope"></i>Our Work</a></li>
          <li routerLinkActive="active"><a routerLink="/questions"><i class="fas fa-sign-out-alt"></i>Easy Questionnaire</a></li>
          <li routerLinkActive="active"><a href="dashboard.html"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
        </ul>
       </div>
      </nav>
      <!-- Navigation -->

  </div>
  <!-- Left Side -->