
.card,.mat-raised-button{
    width: 190px !important;
    height: 200px !important;
    padding: 0;
    cursor: pointer;
    border-radius: 7px !important;
    
}
@media screen and (max-width: 414px){
    .main-content .card {
        width: 65%;
    }
}

@media (max-width: 1024px){
    .questionnaire-detail .card {
        width: 240px;
        height: 205px;
    }
}

.question-img{
    height:95px;
}

.question-selected a::before {
    font-family: 'Font Awesome 5 Free';
    content: "\f00c";
    //content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 30%;
    background: #7842e6;
    border-top-left-radius: 5px;

}

.question-card-tooltip{
    background: white;
    color: #7842e6 !important;
}