<div 
    class="card" 
    (click)="onSelect()"
    [ngClass]="selected ? 'question-selected':''" >
   
    <button class="card" 
      mat-raised-button
      matTooltip="{{ question.description }}"
      matTooltipClass="question-card-tooltip"
    >
      <a id="{{ question.id }}">
        <img class="question-img" src="{{question.url}}" alt="question.name">
        <strong>{{ question.name }}</strong>
      </a></button>

  </div>
  