<!-- Right Side -->
<div class="right-side">

    <!-- Header -->

    <app-header [heading]="'Our Work'" [sub-heading]="'We a are creative design agencacy'"></app-header>

    <!-- Header -->

    <!-- Main Content -->
    <main class="main-content">
      <div class="theme-holder">
        <div class="work-detail">
          <div class="card">
            <a href="#" class=""><i class="fas fa-bell noti-icon"></i><strong>Web Design</strong>
            <b>Latest Design</b></a>
          </div>
          <div class="card">
            <a href="#" class=""><i class="fas fa-bell noti-icon"></i><strong>Web Development</strong>
            <b>Latest Design</b></a>
          </div>
          <div class="card">
            <a href="#" class=""><i class="fas fa-bell noti-icon"></i><strong>Mobile App</strong>
            <b>Latest Design</b></a>
          </div>
          <div class="card">
            <a href="#" class=""><i class="fas fa-bell noti-icon"></i><strong>Graphic Design</strong>
            <b>Latest Design</b></a>
          </div>
          <div class="card">
            <a href="#" class=""><i class="fas fa-bell noti-icon"></i><strong>SEO</strong>
            <b>Latest Design</b></a>
          </div>
          <div class="card-2">
            <a href="#" class=""><strong>Our Portfolio</strong></a>
          </div>
        </div>
      </div>
    </main>
    <!-- Main Content -->

  </div>
  <!-- Right Side -->