<!-- Wrapper -->
<div class="wrapper clearfix">
    <app-side-nav *ngIf="view"></app-side-nav>
    <app-header *ngIf="!view"></app-header>
    <router-outlet></router-outlet> 
</div>
<!-- Wrapper -->
