
  <!-- Left Side -->
  <div class="left-side-2  clearfix">

    <!-- Logo -->
    <div class="logo-2">
      <h1><a href="dashboard.html"><img src="assets/images/Header/logo-2.png" alt="Logo"></a></h1>
    </div>
    <!-- Logo -->

    <!-- Singup Button -->
    <a href="#" class="signup-btn">Signup with<i class="fas fa-long-arrow-alt-right"></i></a>
    <!-- Singup Button -->

  </div>
  <!-- Left Side -->

  <!-- Right Side -->
  <div class="right-side-2">
     
    <!-- Main Content -->
    <main class="main-content">
      <div class="signup-detail">
          <ng-container *ngFor="let method of methods">
              <div class="card">
                <a href="#" id="{{ method.name }}"><i [ngClass]="method.icon" class="fab fa-2x"></i></a>
              </div>
          </ng-container>

        
          
      </div>
    </main>
    <!-- Main Content -->

  </div>
  <!-- Right Side -->
