<!-- Right Side -->
<div class="right-side">

    <app-header [heading]="'Your Profile'" [sub-heading]="'Edit your name, avatar, etc.'"></app-header>

    <!-- Main Content -->
    <main class="main-content pt-20">
      
      <div class="form-holder">
        <div class="group">      
            <input type="text" required placeholder="Nathaniel">
            <label>Username</label>
          </div>
          <div class="group">      
            <input type="text" required placeholder="Wood">
            <label>Name</label>
          </div>
          <div class="group-2">      
            <input type="email" required placeholder="nathanielwood@gmail.com">
            <label>E-mail</label>
          </div>
          <div class="group">      
            <input type="text" required placeholder="UI Designer">
            <label>Profession</label>
          </div>
          <div class="group">      
            <input type="text" required placeholder="Craftwork">
            <label>Company</label>
          </div>
          <div class="comboSelect">
            <div class="group">
              <label>E-mail</label>
            <select>
              <option>Usa</option>
              <option>Usa</option>
              <option>Usa</option>
              <option>Usa</option>
            </select>
            </div>
            <div class="group">
              <input type="text" required placeholder="Charlotte">
              <label>City</label>
            </div>
        </div>
          <div class="group-2">      
            <input type="url" required pattern="https://.*" size="20" placeholder="getcraftwork.com" class="input-2">
            <label>Site</label>
            <label class="label-2">http://</label>
          </div>
      </div>
    </main>
    <!-- Main Content -->

  </div>
  <!-- Right Side -->