<!-- Main Content -->
<main class="main-content">

    <div class="cardHolder">
      <div class="card">
        <a routerLink="/profile">
          <img src="assets/images/main-content/profile-img.png" alt="Profile">
          <h2>Profile</h2>
        </a>
      </div>
      <div class="card">
        <a routerLink="/notification">
          <img src="assets/images/main-content/notification-img.png" alt="Notification">
          <h2>Notifications</h2>
        </a>
      </div>
      <div class="card">
        <a routerLink="/work">
          <img src="assets/images/main-content/work-img.png" alt="Our Work">
          <h2>Our Work</h2>
        </a>
      </div>
      <div class="card">
        <a routerLink="/questions">
          <img src="assets/images/main-content/easy-img.png" alt="Questionnaire">
          <h2>Easy Questionnaire</h2>
        </a>
      </div>
    </div>

  </main>
  <!-- Main Content -->