/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
 
@import 'variables';

@media (max-width: 1500px) {

}

@media (max-width: 1400px) {

}

@media (max-width: 1300px) {
}

@media (max-width: 1250px) {
/**** Profile Page ****/
.right-side{ width: 900px;}
/**** Signup Page ****/
.left-side-2 .signup-btn{ margin: 180px 0 0 60px;}
.right-side-2 .signup-detail{ padding: 170px 0 0;}
/**** Signup With Number Page ****/
.signup-with-num-detail .signup-detail{ padding: 60px 0 0;}
/**** Varifications Code Page ****/
.varifications-detail .signup-detail{ padding: 60px 0 0;}
}

@media (max-width: 1200px) {
/**** Dashboard ****/
.wrapper{ max-width: 1100px;}
/**** Profile Page ****/
.right-side{ width: 770px;}
/**** Notifications Page ****/
.main-content .theme-holder{ width: 750px;}
/**** Work Page ****/
.work-detail .card{ width: 230px; height: 205px;}
.work-detail .card-2{ width: 230px; height: 205px;}
/**** Questionnaire Page ****/
.main-content .easy2{ padding: 0;}
.questionnaire-detail-text h4{ padding: 0 80px 20px;}
.questionnaire-detail{ width: 750px;}
.questionnaire-detail h5{ padding: 0 0 20px 5px;}
.questionnaire-detail .card{ width: 170px; height: 195px;}
.questionnaire-detail .card a{ padding: 40px 0; height: 195px;}
/**** Signup Page ****/
.right-side-2{ width: 620px;}
/**** Varifications Code Page ****/
.varifications-detail .digit-input{ width: 70px; padding: 35px 29px;}
}

@media (max-width: 1199px) {
/**** Notifications Page ****/
.right-side .header{ padding: 25px 15px 60px;}
.header .your-profile{ margin: 0;}

}
@media ( max-width: 1024px) {
/**** Dashboard ****/
.wrapper{ max-width: 950px;}
/**** Profile ****/
.left-side{ padding: 40px 20px; position: relative;}
.right-side{ width: 620px;}
.main-content .form-holder{ width: 620px;}
.main-content .group{ width: 45%;}
/**** Notifications Page ****/
.main-content .theme-holder{ width: 600px;}
/**** Work Page ****/
.work-detail .card{ width: 185px; height: 195px; padding: 50px 0;}
.work-detail .card-2{ width: 185px; height: 195px; padding: 80px 0 0;}
/**** Questionnaire Page ****/
.questionnaire-detail-text h4{ padding: 0 0px 20px}
.questionnaire-detail{ width: 610px;}
.questionnaire-detail h5{ font-size: 20px;}
.questionnaire-detail strong{ font-size: 15px;}
.questionnaire-detail .card{ width: 290px; height: 205px;}
.questionnaire-detail .card a{ padding: 50px 0; height: 205px;}
/**** Signup Page ****/
.left-side-2{ width: 350px;}
.left-side-2 .signup-btn{ margin: 160px 0 0 30px; min-width: 320px;}
.right-side-2{ width: 600px;}
.right-side-2 .signup-detail{ width: 520px; padding: 160px 0 0 40px;}
/**** Signup With Number Page ****/
.left-side-2 .btn-f-size{ font-size: 20px;}
.signup-with-num-detail .signup-detail{ padding: 60px 40px 0;}
/**** Varifications Code Page ****/
.varifications-detail .signup-detail{ padding: 60px 0 0;}
}

@media (max-width: 991px) {
/**** Dashboard ****/
.wrapper{ max-width: 900px;}
/**** Profile ****/
.right-side{ width: 570px;}
.main-content .form-holder{ width: 570px;}
.main-content .group{ width: 44.7%;}
/**** Notifications Page ****/
.main-content .theme-holder{ width: 550px;}
/**** Work Page ****/
.work-detail .card{ width: 168px; height: 185px; padding: 40px 0;}
.work-detail .card-2{ width: 168px; height: 185px; padding: 80px 0 0;}
/**** Questionnaire Page ****/
.questionnaire-detail-text h4{ font-size: 50px;}
.questionnaire-detail-text p{ font-size: 20px;}
.questionnaire-detail{ width: 560px;}
.questionnaire-detail .card{ width: 265px; height: 205px;}
.questionnaire-detail .card a{ padding: 50px 0; height: 205px;}
/**** Signup Page ****/
.right-side-2{ width: 550px;}
.right-side-2 .signup-detail{ padding: 160px 0 0 50px;}
/**** Signup With Number Page ****/
.signup-with-num-detail .signup-detail{ padding: 60px 40px 0;}
/**** Varifications Code Page ****/
.left-side-2{ width: 330px;}
.left-side-2 .signup-btn{ min-width: 290px;}
.varifications-detail .signup-detail{ padding: 60px 0 0;}
}

@media screen and (max-width: 850px) {
/**** Dashboard ****/
.wrapper{ max-width: 830px;}
/**** Profile ****/
.right-side{ width: 500px;}
.main-content .form-holder{ width: 500px;}
.main-content .group{ width: 43.7%;}
.main-content .group-2{ width: 93%;}
.main-content .comboSelect{ width: 93%;}
/**** Notifications Page ****/
.main-content .theme-holder{ width: 480px;}
/**** Work Page ****/
.work-detail .card{ width: 145px; height: 175px; padding: 40px 0;}
.work-detail .card-2{ width: 145px; height: 175px; padding: 80px 0 0;}
/**** Questionnaire Page ****/
.questionnaire-detail-text h4{ font-size: 40px;}
.questionnaire-detail-text p{ font-size: 16px;}
.questionnaire-detail{ width: 490px;}
.questionnaire-detail h5{ font-size: 16px;}
.questionnaire-detail strong{ font-size: 12px;}
.questionnaire-detail .card{ width: 230px; height: 205px;}
.questionnaire-detail .card a{ padding: 50px 0; height: 205px;}
/**** Signup Page ****/
.left-side-2{ width: 300px;}
.left-side-2 .signup-btn{ min-width: 280px; font-size: 22px; margin: 160px 0 0 10px;}
.right-side-2{ width: 530px;}
.right-side-2 .signup-detail{ padding: 160px 0 0 40px;}
/**** Signup With Number Page ****/
.left-side-2 .btn-f-size{ font-size: 16px;}
.signup-with-num-detail .signup-detail{ padding: 60px 0 0 40px;}
/**** Varifications Code Page ****/
.varifications-detail .signup-detail{ padding: 60px 0 0; width: 460px;}
.varifications-detail .digit-input{ width: 60px; padding: 30px 24.5px;}
}

@media (max-width: 800px) {
/**** Dashboard ****/
.wrapper{ max-width: 750px;}
/**** Profile ****/
.right-side{ width: 420px;}
.main-content .form-holder{ width: 420px;}
.main-content .group{ width: 42.8%;}
.main-content .group-2{ width: 93%;}
.main-content .comboSelect{ width: 93%;}
/**** Notifications Page ****/
.main-content .theme-holder{ width: 400px;}
/**** Work Page ****/
.left-side{ position: relative; height: 770px;}
.header .your-profile h2{ font-size: 16px;}
.header .your-profile p{ font-size: 12px;}
.work-detail .card{ width: 185px; height: 195px; padding: 50px 0;}
.work-detail .card-2{ width: 185px; height: 195px; padding: 80px 0 0;}
/**** Questionnaire Page ****/
.questionnaire-detail-text .free-btn{ min-width: 165px;}
.questionnaire-detail-text .free-btn-2{ min-width: 165px;}
.questionnaire-detail{ width: 410px;}
.questionnaire-detail h5{ font-size: 14px;}
.questionnaire-detail strong{ font-size: 10px;}
.questionnaire-detail .card{ width: 190px; height: 195px;}
.questionnaire-detail .card a{ padding: 50px 0; height: 195px;}
/**** Payment Page ****/
.payment-holder .signup-detail{ width: 420px; padding: 0;}
.payment-holder .card{ width: 46%;}
/**** Signup Page ****/
.left-side-2{ position: relative;}
.left-side-2 .signup-btn{ margin: 250px 0 0 10px;}
.right-side-2{ width: 450px;}
.right-side-2 .signup-detail{ width: 380px; padding: 160px 0 0;}
.signup-detail .card{ width: 175px;}
/**** Signup With Number Page ****/
.signup-with-num-detail .signup-detail{ padding: 100px 0 0;}
.signup-with-num-detail .free-btn{ width: 200px; font-size: 16px;}
/**** Varifications Code Page ****/
.varifications-detail .signup-detail{ padding: 100px 0 0; width: 430px;}
.varifications-detail .signup-detail h4{ font-size: 22px;}
.varifications-detail .signup-detail p{ font-size: 22px;}
.varifications-detail .digit-input{ width: 50px; padding: 25px 19px;}
.varifications-detail .free-btn{ width: 200px; min-height: 60px;}
}

@media screen and (max-width: 768px) {
/**** Dashboard ****/
.wrapper{ max-width: 700px;}
/**** Profile ****/
.right-side{ width: 400px;}
.header{ padding: 20px 5px 40px;}
.main-content .form-holder{ width: 370px;}
.main-content .group{ width: 41.8%;}
.main-content .group-2{ width: 91%;}
.main-content .comboSelect{ width: 91%;}
/**** Notifications Page ****/
.left-side{ width: 300px;}
.main-content .theme-holder{ width: 380px;}
/**** Work Page ****/
.header .login-info .bell-icon{ margin: 0 15px 0 0;}
.header .login-info strong{ font-size: 14px;}
.header .login-info .login-img{ margin: 0 0 0 15px;}
.work-detail .card{ width: 175px; height: 195px; padding: 50px 0;}
.work-detail .card-2{ width: 175px; height: 195px; padding: 80px 0 0;}
/**** Questionnaire Page ****/
.questionnaire-detail{ width: 400px;}
.questionnaire-detail .card{ width: 185px; height: 195px;}
.questionnaire-detail .card a{ padding: 50px 0; height: 195px;}
/**** Payment Page ****/
.payment-holder .signup-detail{ width: 400px;}
/**** Signup Page ****/
.left-side-2{ width: 250px;}
.left-side-2 .signup-btn{ margin: 250px 0 0; min-width: 230px;}
/**** Signup With Number Page ****/
.left-side-2 .btn-f-size{ font-size: 13px;}
}

@media screen and (max-width: 767px) {
/**** Profile ****/
.left-side{ height: 70px; width: 100%; float: none; position: relative; z-index: 10; padding: 15px;}
.left-side .logo-2{ border: 0; padding: 5px 0 0; float: left;}
.navbar{ min-height: 30px; }
.navbar-default .navbar-toggle{ margin: 0; margin: 0; padding: 10px;}
.navbar-default .icon-bar{ font-size: 25px; color: #8b6dff;}
.right-side{ height: 100%; width: 100%; float: none;}
.right-side .header{ padding: 25px 15px 40px;}
.main-content .form-holder{ width: 100%;}
.main-content .group{ width: 45%;}
.main-content .group-2{ width: 94%;}
.main-content .comboSelect{ width: 94%;}
/**** Notifications Page ****/
.main-content .theme-holder{ width: 680px;}
/**** Work Page ****/
.work-detail .card{ width: 210px; height: 195px; padding: 50px 0;}
.work-detail .card-2{ width: 210px; height: 195px; padding: 80px 0 0;}
/**** Questionnaire Page ****/
.main-content{ padding: 0;}
.main-content .easy1{ padding: 40px 0 0;}
.questionnaire-detail-text h4{ font-size: 60px;}
.questionnaire-detail-text p{ font-size: 20px;}
.questionnaire-detail{ width: 690px;}
.questionnaire-detail h5{ font-size: 23px;}
.questionnaire-detail strong{ font-size: 20px;}
.questionnaire-detail .card{ width: 330px; height: 220px;}
.questionnaire-detail .card a{ padding: 60px 0; height: 220px;}
/**** Payment Page ****/
.payment-holder .signup-detail{ width: 465px;}
.signup-detail .card{ width: 140px;}
/**** Signup Page ****/
.left-side-2{ float: none; height: 100px; width: 100%; padding: 20px;}
.left-side-2 .logo-2{ float: left; padding: 0; margin: 15px 0 0}
.left-side-2 .signup-btn{ margin: 0; float: right; font-size: 16px;}
.right-side-2{ float: none; height: 100%; width: 100%;}
.right-side-2 .signup-detail{ width: 470px; padding: 100px 0 0;}
/**** Signup With Number Page ****/
.left-side-2 .btn-f-size{ font-size: 13px;}
.signup-with-num-detail .signup-detail{ padding: 40px 0 0;}
/**** Varifications Code Page ****/
.varifications-detail .digit-input{ width: 74px; padding: 35px 31px;}
}

@media screen and (max-width: 715px) {

}

@media screen and (max-width: 693px) {
/**** Dashboard ****/
.wrapper{ max-width: 650px;}
.header{ padding: 25px 15px 60px;}
.header .logo{ margin: 0;}
.main-content .cardHolder{ width: 540px;}
.main-content .card{ width: 250px;}
/**** Profile ****/
.main-content .group{ width: 44.7%;}
/**** Notifications Page ****/
.main-content .theme-holder{ width: 630px;}
/**** Work Page ****/
.work-detail .card{ width: 195px; height: 195px; padding: 50px 0;}
.work-detail .card-2{ width: 195px; height: 195px; padding: 80px 0 0;}
/**** Questionnaire Page ****/
.questionnaire-detail{ width: 640px;}
.questionnaire-detail h5{ font-size: 20px;}
.questionnaire-detail strong{ font-size: 16px;}
.questionnaire-detail .card{ width: 305px; height: 220px;}
/**** Payment Page ****/
.payment-holder .signup-detail{ width: 650px;}
.signup-detail .card{ width: 47.6%;}
/**** Signup Page ****/
.right-side-2 .signup-detail{ width: 100%;}
}

@media screen and (max-width: 639px) {
/**** Dashboard ****/
.wrapper{ max-width: 560px;}
/**** Profile ****/
.main-content .group{ width: 44.3%;}
/**** Notifications Page ****/
.main-content .theme-holder{ width: 540px;}
/**** Work Page ****/
.work-detail .card{ width: 165px; height: 185px; padding: 50px 0;}
.work-detail .card-2{ width: 165px; height: 185px; padding: 80px 0 0;}
/**** Questionnaire Page ****/
.questionnaire-detail-text h4{ font-size: 50px;}
.questionnaire-detail{ width: 550px;}
.questionnaire-detail h5{ font-size: 18px;}
.questionnaire-detail strong{ font-size: 14px;}
.questionnaire-detail .card{ width: 47%; height: 220px;}
/**** Payment Page ****/
.payment-holder .signup-detail{ width: 560px;}
.signup-detail .card{ width: 47.2%;}
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 550px) {
/**** Dashboard ****/
.wrapper{ max-width: 530px;}
/**** Notifications Page ****/
.main-content .theme-holder{ width: 510px;}
/**** Work Page ****/
.work-detail .card{ width: 155px; height: 175px; padding: 40px 0;}
.work-detail .card-2{ width: 155px; height: 175px; padding: 80px 0 0;}
/**** Questionnaire Page ****/
.questionnaire-detail{ width: 530px;}
/**** Payment Page ****/
.payment-holder .signup-detail{ width: 530px;}
.signup-detail .card{ width: 47%;}
}

@media screen and (max-width: 500px) {
/**** Dashboard ****/
.wrapper{ max-width: 480px;}
.main-content .cardHolder{ width: 470px;}
.main-content .card{ width: 220px;}
/**** Profile ****/
.main-content .group{ width: 43.7%;}
/**** Notifications Page ****/
.main-content .theme-holder{ width: 460px;}
/**** Work Page ****/
.work-detail .card{ width: 215px; height: 175px; padding: 40px 0;}
.work-detail .card-2{ width: 215px; height: 175px; padding: 80px 0 0;}
/**** Questionnaire Page ****/
.questionnaire-detail-text h4{ font-size: 40px;}
.questionnaire-detail{ width: 480px;}
.questionnaire-detail h5{ font-size: 16px;}
.questionnaire-detail strong{ font-size: 12px;}
/**** Payment Page ****/
.payment-holder .signup-detail{ width: 480px;}
.signup-detail .card{ width: 46.5%;}
/**** Varifications Code Page ****/
.varifications-detail .digit-input{ width: 64px; padding: 30px 26px;}
}

@media screen and (max-width: 479px) {
/**** Dashboard ****/
.wrapper{ max-width: 470px;}
/**** Profile ****/
.main-content .group{ width: 94%;}
.main-content .comboSelect{ background: none; box-shadow: none;}
.main-content .comboSelect .group{ width: 100%;}
.main-content .comboSelect .group input{ border-radius: 5px;} 
.main-content .comboSelect .group select{ border-radius: 5px!important; margin: 0 0 20px;}
/**** Payment Page ****/
.payment-holder .signup-detail{ width: 470px;}
.signup-detail .card{ width: 46.5%;}
}

@media screen and (max-width: 414px) {
/**** Dashboard ****/
.wrapper{ max-width: 420px;}
.main-content .cardHolder{ width: 390px;}
.main-content .card{ width: 95%;}
/**** Notifications Page ****/
.main-content .theme-holder{ width: 380px;}
/**** Work Page ****/
.work-detail .card{ width: 95%; height: 205px; padding: 50px 0;}
.work-detail .card-2{ width: 95%; height: 205px; padding: 90px 0 0;}
/**** Questionnaire Page ****/
.questionnaire-detail-text h4{ font-size: 30px;}
.questionnaire-detail-text p{ font-size: 14px;}
.questionnaire-detail{ width: 420px;}
.questionnaire-detail h5{ font-size: 14px;}
.questionnaire-detail strong{ font-size: 10px;}
/**** Payment Page ****/
.payment-holder .signup-detail{ width: 410px;}
.signup-detail .card{ width: 96%;}
/**** Varifications Code Page ****/
.varifications-detail .digit-input{ width: 95px; padding: 35px 41px; margin: 0 5px 5px;}
.varifications-detail .signup-detail h4{ font-size: 18px;}
.varifications-detail .signup-detail p{ font-size: 18px;}
}

@media screen and (max-width: 375px) {
/**** Dashboard ****/
.wrapper{ max-width: 370px;}
.main-content .cardHolder{ width: 370px;}
/**** Notifications Page ****/
.main-content .theme-holder{ width: 350px;}
/**** Questionnaire Page ****/
.questionnaire-detail{ width: 370px;}
/**** Payment Page ****/
.payment-holder .signup-detail{ width: 370px;}
/**** Signup Page ****/
.left-side-2 .signup-btn{ min-width: 180px;}
/**** Signup With Number Page ****/
.left-side-2 .btn-f-size{ font-size: 10px;}
.left-side-2 .signup-btn i{ padding: 3px 0 0;}
.signup-with-num-detail h4{ font-size: 20px;}
.signup-with-num-detail .free-btn{ min-height: 60px;}
}

@media screen and (max-width: 360px) {
/**** Dashboard ****/
.main-content .cardHolder{ width: 350px;}
/**** Work Page ****/
.right-side .header{ padding: 25px 15px 20px;}
.header .your-profile{ width: 100%; float: none; text-align: center; margin: 0 0 20px;}
.header .your-profile h2{ padding: 0 0 10px; font-size: 16px;}
.header .your-profile p{ font-size: 12px;}
.header .login-info{ width: 100%; float: none; text-align: center;}
.header .login-info .bell-icon{ margin: 0 20px 0 0;}
.header .login-info strong{ font-size: 16px;}
.header .login-info .login-img{ margin: 0 0 0 15px;}
/**** Questionnaire Page ****/
.questionnaire-detail{ width: 360px;}
/**** Payment Page ****/
.payment-holder .signup-detail{ width: 360px;}
/**** Signup With Number Page ****/
.left-side-2 .signup-btn{ margin: 5px 0 0;}
}

@media screen and (max-width: 340px) {
/**** Dashboard ****/
.main-content .cardHolder{ width: 330px;}
/**** Notifications Page ****/
.main-content .theme-holder{ width: 320px;}
/**** Questionnaire Page ****/
.questionnaire-detail{ width: 340px;}
/**** Payment Page ****/
.payment-holder .signup-detail{ width: 340px;}
}

@media screen and (max-width: 320px) {
/**** Dashboard ****/
.main-content .cardHolder{ width: 310px;}
/**** Notifications Page ****/
.main-content .theme-holder{ width: 300px;}
/**** Questionnaire Page ****/
.questionnaire-detail{ width: 320px;}
/**** Payment Page ****/
.payment-holder .signup-detail{ width: 320px;}
/**** Signup Page ****/
.left-side-2 .signup-btn{ min-width: 160px;}
/**** Signup With Number Page ****/
.left-side-2 .btn-f-size{ font-size: 8px;}
.left-side-2 .signup-btn i{ padding: 0;}
/**** Varifications Code Page ****/
.varifications-detail .signup-detail h4{ font-size: 16px;}
.varifications-detail .signup-detail p{ font-size: 16px;}
}



/**** Q Media ****/
/*@media only screen and (min-width:1200px) and (max-width:1400px){

}
@media only screen and (min-width:991px) and (max-width:1199px){

}
@media only screen and (min-width:768px) and (max-width:990px){

}
@media only screen and (min-width:100px) and (max-width:767px){

}
@media only screen and (min-width:100px) and (max-width:600px){
}
@media only screen and (min-width:100px) and (max-width:480px){
}*/
