/* You can add global styles to this file, and also import other style files */
 /*
 Project: Event
 Version: 1.1
 @Author: FineLayers
 This file contains the styling for the actual theme, this
 is the file you need to edit to change the look of the
 theme.
 However we used Less script to make things easy to maintain, this is the compressed ourput, we recommend to edit the less files and then recombile the files and add the result here, if you don't like to use less you can edit this file here.
 This files contents are outlined below.
 01.	Theme Reset Style
 03.	Global Elements
 04.	Home Page 1

*/

/****** Theme Reset Style ***********************************************************
*********************************************************** Theme Reset Style ******/
body{ background: #fff; font-size: 13px; color: #464a5a; font-family: 'Lato', sans-serif;}
body h1, body h2, body h3, body h4, body h5, body h6{ margin: 0 0 20px; font-family: 'Lato', sans-serif;}

div{ outline: none;}
p a{ color: #999;}
p a:hover{ text-decoration:underline; outline: none;}
p{ letter-spacing: normal; margin: 0 0 20px; line-height: 22px; font-size: 13px; color: #999;}

a{ color: #999; text-decoration: none; outline: none!important; display: block;}
a:hover,
a:focus{ outline: none; text-decoration: none;}
.btn:hover, .btn:focus, .btn.focus{ outline: none; text-decoration: none;}

img{ max-width: 100%;}
iframe{ border: 0; width: 100%;}

button{ background: none;}

blockquote{ padding: 0; border: 0;}

label{ display: block; font-weight: 400; margin: 0;}

textarea{ border-radius: 0!important; resize: none;}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input,
.form-control{ border: 0; height: 50px; line-height: 50px; width: 100%; border-radius: 0; background: none; color: #999;
padding: 0 20px; font-size: 16px; border: 1px solid #e1e1e1; box-shadow: none; text-transform: capitalize;}
.form-control.border-0{ border: 0;}
.form-control.bg-wihet{ background: #fff;}
.form-control::-webkit-input-placeholder{ color: #999;}
.form-control:-moz-placeholder{ color: #999;}
.form-control::-moz-placeholder{ color: #999;}
.form-control:-ms-input-placeholder{ color: #999;}
.form-control:focus::-webkit-input-placeholder{ opacity: 0;}
.form-control:focus:-moz-placeholder{ opacity: 0;}
.form-control:focus::-moz-placeholder{ opacity: 0;}
.form-control:focus:-ms-input-placeholder{ opacity: 0;}
/****** Theme Reset Style ***********************************************************
*********************************************************** Theme Reset Style ******/

/****** Global Elements ***********************************************************
*********************************************************** Global Elements ******/
.main-heading-holder{ text-align: left; padding: 0 0 40px;}
.main-heading{ width: 100%;}
.main-heading h3{ font-size: 36px; font-weight: 700; color: #003351; margin: 0;}

.main-heading-holder-2{ text-align: left; padding: 0 0 40px;}
.main-heading-2{ display: inline-block; width: 100%; position: relative;}
.main-heading-2 h2{ font-size: 30px; font-weight: 900; color: #636363; text-transform: uppercase; padding: 0 0px 0 20px;
float: left; position: relative; margin: 0;}
.main-heading-2 h2::after{ content: ""; position: absolute; top: 0; left: 0; height: 92%; border-left: 10px solid #000;}
.main-heading-2 strong{ font-size: 14px; font-weight: 400; color: #000; display: block; line-height: 1em;}
.main-heading-2 p{ font-size: 16px; font-weight: 400; color: #636363; margin: 0;}

.big-img{ position: relative;}
.big-img::before{ content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 10px solid #ffcc33;}

.tc-btn{ height: 52px; line-height: 52px; font-size: 16px; padding: 0 45px; font-family: 'Varela Round', sans-serif; display: inline-block; border: 0;
background: #36b8cb; color: #fff; border-radius: 4px; position: relative; overflow: hidden; text-transform: uppercase; text-align: center;
-webkit-box-shadow: 0px 2px 9px 0px rgba(50, 50, 50, 0.45);
-moz-box-shadow: 0px 2px 9px 0px rgba(50, 50, 50, 0.45);
box-shadow: 0px 2px 9px 0px rgba(50, 50, 50, 0.45);}
.tc-btn:hover{ color: #fff;}
.tc-btn.light{ border: 1px solid #fff; background: none;}
.tc-btn.light:hover{ background: #fff; color: #999; opacity: 1;}
.tc-btn.shadow-0{ box-shadow: none;}
.tc-btn.sm{ height: 42px; line-height: 42px; padding: 0 20px; font-size: 13px;}
.tc-btn.full-with{ width: 100%;}
.tc-btn:hover{ opacity: 0.8; box-shadow: none;}
.free-btn{ float: left; font-size: 20px; font-weight: 400; color: #8b6dff;
background: #fff; padding: 10px 20px; border-radius: 5px; text-align: center; min-width: 205px;
-webkit-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);
box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);}
.free-btn:hover{ color: #fff; background: #ccc;}

.free-btn-2{ float: left; font-size: 17px; font-weight: 400; color: #fff; line-height: 1.6em;
padding: 10px 20px; border-radius: 5px; text-align: center; min-width: 205px; font-family: 'Raleway', sans-serif;}
.free-btn-2 strong{ display: inline-block; font-size: 16px; font-weight: 400; color: #000; padding: 0 0 0 3px;}
.free-btn-2:hover{ color: #000; background: #fff;
-webkit-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);
box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);}
.free-btn-2:hover strong{ color: #8b6dff;}


.tc-breadcrumb ul{ display: inline-block;}
.tc-breadcrumb li{ float: left; color: #fff;}
.tc-breadcrumb li a{ float: left; font-size: 14px; color: #fff; line-height: 20px;}
.tc-breadcrumb li::before{ float: left; line-height: 22px; content: "/"; font-family: fontawesome; margin: 0 10px;}
.tc-breadcrumb li:first-child::before{ display: none; margin: 0;}

.tc-social-icons ul li{ float: left; margin: 0 0 0 10px;}
.tc-social-icons ul li:first-child{ margin: 0;}
.tc-social-icons ul li a{ background: #fff; height: 45px; width: 45px; line-height: 55px; text-align: center;
border-radius: 100%; font-size: 14px; color: #fff;
-webkit-box-shadow: 0px 2px 9px 0px rgba(70, 70, 70, 0.20);
-moz-box-shadow: 0px 2px 9px 0px rgba(70, 70, 70, 0.20);
box-shadow: 0px 2px 9px 0px rgba(70, 70, 70, 0.20);}
.tc-social-icons ul li a i{ font-size: 20px;}
.tc-social-icons ul li a.facebook{ background: #4276ac;}
.tc-social-icons ul li a.twitter{ background: #36b8cb;}
.tc-social-icons ul li a.google-plus{ background: #ff9100;}
.tc-social-icons ul li.email{ height: 45px; line-height: 45px; border-radius: 30px; padding: 0 20px; font-size: 16px; color: #787f6f;
-webkit-box-shadow: 0px 2px 9px 0px rgba(70, 70, 70, 0.20);
-moz-box-shadow: 0px 2px 9px 0px rgba(70, 70, 70, 0.20);
box-shadow: 0px 2px 9px 0px rgba(70, 70, 70, 0.20);}

.rating-stars li{ float: left; margin: 0 0 0 3px;}
.rating-stars li:first-child{ margin: 0}
.rating-stars li i{ color: #ff8105;}

.overlay-dark{ position: relative;}
.overlay-dark::before,
.overlay-dark::before{ content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%;
background: rgba(0,0,0,0.6);}
.overlay{ position: absolute; left: 0; top: 0; height: 100%; width: 100%;}

.position-center-center{ left: 50%; position: absolute; top: 50%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);}
.position-center-x{ position: absolute; top: 50%;
-webkit-transform: translate(0, -50%);
-moz-transform: translate(0, -50%);
-ms-transform: translate(0, -50%);
transform: translate(0, -50%);}
.position-center-y{ left: 50%; position: absolute;
-webkit-transform: translate(-50%, 0);
-moz-transform: translate(-50%, 0);
-ms-transform: translate(-50%, 0);
transform: translate(-50%, 0);}
.p-absolute{ position: absolute;}
.p-relative{ position: relative;}

.z-index-1{ z-index: 1;}
.z-index-2{ z-index: 2;}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"]{ padding-right: 0; padding-left: 0;}

.meta-post ul{ display: inline-block;}
.meta-post ul li{ float: left; color: #fff; font-size: 12px; margin: 0 0 0 10px;}
.meta-post ul li:first-child{ margin: 0;}
.meta-post ul li:first-child::before{ display: none;}
.meta-post ul li i{ margin: 0 10px 0 0; color: #fff;}

.post-widget .meta-post ul{ display: inline-block;}
.post-widget .meta-post ul li{ float: left; color: #999; font-size: 14px; margin: 0;}
.post-widget .meta-post ul li::before{ content: "\f142"; float: left; margin: 0 20px; font-family: icomoon; color: #d9d9d9; font-size: 12px;}
.post-widget .meta-post ul li:first-child::before{ display: none;}
.post-widget .meta-post ul li i{ margin: 0 10px 0 0; color: #999;}

.white-bg{ background: #fff;}
.gray-bg{ background: #fafafa;}
.text-white{ color: #fff;}
.font-bold{ font-weight: bold;}
.text-left{ text-align: left!important;}
.text-right{ text-align: right!important;}
.d-inline-block{ display: inline-block;}
.d-block{ display: block!important;}
.f-left{ float: left!important;}
.f-right{ float: right!important;}
.f-none{ float: none!important;}
.h-white h1,
.h-white h2,
.h-white h3,
.h-white h4,
.h-white h5,
.h-white h6{ color: #fff;}
.p-white p{ color: #fff;}
.h-m-0 h1,
.h-m-0 h2,
.h-m-0 h3,
.h-m-0 h4,
.h-m-0 h5,
.h-m-0 h6{ margin: 0;}
.p-m-0 p{ margin: 0;}
.h-white h1 a,
.h-white h2 a,
.h-white h3 a,
.h-white h4 a,
.h-white h5 a,
.h-white h6 a{ color: #fff;}
.p-white p a{ color: #fff;}
.h-m-0 h1 a,
.h-m-0 h2 a,
.h-m-0 h3 a,
.h-m-0 h4 a,
.h-m-0 h5 a,
.h-m-0 h6 a{ margin: 0;}
.p-m-0 p a{ margin: 0;}

.mb-10{ margin-bottom: 10px;}
.mb-20{ margin-bottom: 20px;}
.mb-25{ margin-bottom: 25px;}
.mb-30{ margin-bottom: 30px;}
.mb-40{ margin-bottom: 40px;}
.mb-50{ margin-bottom: 50px;}
.mb-60{ margin-bottom: 60px;}
.mb-70{ margin-bottom: 70px;}
.mb-80{ margin-bottom: 80px;}
.mb-90{ margin-bottom: 90px;}
.mb-100{ margin-bottom: 100px;}

.mt-10{ margin-top: 10px;}
.mt-20{ margin-top: 20px;}
.mt-30{ margin-top: 30px;}
.mt-40{ margin-top: 40px;}
.mt-50{ margin-top: 50px;}
.mt-60{ margin-top: 60px;}
.mt-70{ margin-top: 70px;}
.mt-80{ margin-top: 80px;}
.mt-90{ margin-top: 90px;}
.mt-100{ margin-top: 100px;}

.mr{margin: 0 10px;}

.pb-10{ padding-bottom: 10px!important;}
.pb-20{ padding-bottom: 20px!important;}
.pb-20-2{ padding-bottom: 18px!important;}
.pb-30{ padding-bottom: 30px!important;}
.pb-40{ padding-bottom: 40px;}
.pb-50{ padding-bottom: 50px;}
.pb-60{ padding-bottom: 60px!important;}
.pb-70{ padding-bottom: 70px;}
.pb-80{ padding-bottom: 80px;}
.pb-90{ padding-bottom: 90px;}
.pb-100{ padding-bottom: 100px;}

.p-r{  padding: 0 80px 0 0;}
.p-l-2{ padding: 0 0 0 80px;}
.p-l{ padding: 0 0 0 10px!important;}
.p-1{ padding: 20px 40px 0 0!important;}

.pt{ padding: 8px 0 0;}
.pt-10{ padding-top: 10px!important;}
.pt-20{ padding-top: 20px!important;}
.pt-30{ padding-top: 30px;}
.pt-40{ padding-top: 40px;}
.pt-50{ padding-top: 50px;}
.pt-60{ padding-top: 60px;}
.pt-70{ padding-top: 70px;}
.pt-80{ padding-top: 80px;}
.pt-90{ padding-top: 90px;}
.pt-100{ padding-top: 100px;}

.theme-padding-top{ padding-top: 40px;}
.theme-padding-bottom{ padding-bottom: 40px;}
.theme-padding{ padding: 20px 0 60px;}
.theme-padding-2{ padding: 20px 0;}
.theme-margin{ margin: 40px 0;}
.theme-margin-top{ margin-top: 40px;}
.theme-margin-bottom{ margin-bottom: 40px;}

.btn-list{ margin: 0; padding: 0; list-style: none;}
.btn-list li{ float: left; margin: 0 0 0 30px;}
.btn-list li:first-child{ margin: 0;}

ul{ margin: 0; padding: 0; list-style: none;}

.m-0{ margin: 0!important;}
.m-bottom-0{ margin-bottom: 0!important;}
.p-0{ padding: 0!important;}
.border-0{ border: 0!important;}
.m-lef-0{ margin-left: 0;}
.m-right-0{  margin-right: 0;}

.w-100-pre{ width: 100%;}
.h-100-pre{ height: 100%;}
.vapour-img-w{ width: 408px;}
.radius-1{ border-radius: 1px;}
.radius-2{ border-radius: 2px;}
.radius-3{ border-radius: 3px;}
.radius-4{ border-radius: 4px;}
.radius-5{ border-radius: 5px;}
.radius-6{ border-radius: 6px;}
.radius-7{ border-radius: 7px;}
.radius-8{ border-radius: 8px;}
.radius-9{ border-radius: 9px;}
.radius-10{ border-radius: 10px;}
.overflow-hidden{ overflow: hidden;}

.has-layout{ float: left; width: 100%;}
.navbar-brand{ height: auto; width: auto; padding: 0;}
.after-clear::after{ visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
.slick-list{ margin: 0 -15px; overflow: hidden;}
.slick-list .slick-slide{ margin: 0;}
.slick-arrow{ display: none!important;}
.header-bg{ position: relative;}
.header-bg{ content: ""; position: absolute; top: 0; left: 0; width: 100%; background: #000; opacity: 0.8;}
.section{ margin: 0; padding: 0;}
.box-shadow{ box-shadow: 0 0 6px 0 #eaeaea;}

/**** Scroll To Top ****/
.top{ background: #5e0318; border-radius: 100%;}

.curve-up{ position: relative;}
// .curve-up::before{ content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 140px; background: url(./assets/images/curve-up.png) no-repeat bottom; z-index: 1;
// background-size: 100%!important;}
// .curve-down{ position: relative;}
// .curve-down::before{ content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 140px; background: url(./assets/images/curve-down.png) no-repeat top;
// background-size: 100%!important;}
// .curve-up-small{ position: relative;}
// .curve-up-small::before{ content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 25px; background: url(./assets/images/curve-up-small.png) no-repeat bottom;
// background-size: 100%!important;}
// .curve-down.style-2::before{ background: url(./assets/images/curve-down-2.png) no-repeat;}
/****** Global Elements ***********************************************************
*********************************************************** Global Elements ******/

/****** Home Page 1 ***********************************************************
*********************************************************** Home Page 1 ******/
.wrapper{ max-width: 1250px; min-height: 695px; margin: 60px auto 0; overflow: hidden; position: relative;
background: linear-gradient(#877aff,#8d68ff,#9355ff); padding: 0;
-webkit-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);
box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);}

.bg-img{ background: url(./assets/images/Banner/bg-img.jpg) center;
  background-size: cover;
  height: 100vh;      
}

.noti-icon{ display: inline-block; color: #8570fb; background: #e3ebee; border-radius: 100%; padding: 10px;
min-height: 40px; min-width: 40px; text-align: center;}
.theme-holder{ width: 860px; display: inline-block;}


/********** Dashboard Page ***********/

/**** Header ****/
.header{ overflow: hidden; padding: 25px 25px 60px;}
.logo{ margin: 0 0 0 15px; float: left;}
.login-info{ float: right;}
.login-info .bell-icon{ display: inline-block; color: #fff; margin: 0 30px 0 0; position: relative;}
.login-info .bell-icon b{ display: inline-block; color: #9355ff; background: #fff32b; border-radius: 100%;
min-height: 20px; min-width: 20px; text-align: center; font-size: 12px; position: absolute; top: -12px; left: 4px;}
.login-info strong{ display: inline-block; font-size: 17px; font-weight: 400; color: #fff;}
.login-info .login-img{ display: inline-block; margin: 0 0 0 20px;}
.login-info .login-img img{ display: inline-block; background: #e7e4ff; border-radius: 100%;
padding: 10px 5px 0; min-width: 45px; min-height: 45px; line-height: 45px;
 -webkit-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);
box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);}

/**** Main Content ****/
.main-content{ text-align: center;}
.cardHolder{ display: inline-block; width: 635px;}
.card{ padding: 60px 0; width: 300px; border-radius: 5px; height: 210px; text-align: center; float: left;
margin: 7.5px; background: #fff; -webkit-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);
box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);}
.card a{ display: inline-block; vertical-align: baseline;}
.card a img{ padding: 0 0 20px; display: inline-block;}
.card a h2{ margin: 0; font-size: 20px; font-weight: 400; color: #7b7b7b;}

.easy1 {

}
.easy2 {
  display: none;
}

/********** Profile Page ***********/
.left-side{ background: #fff; float: left; width: 330px; height: 695px; padding: 40px; position: fixed;}

.logo-2{ border-bottom: 1px solid #efedff; padding: 0 0 40px;}
.logo-2 h1{ margin: 0;}

/**** Navigation ****/
.navbar-header{ float: none!important;}
.navbar-nav{ margin: 0; padding: 40px 0 0; background: #fff;}
.navbar-nav li{ float: left; padding: 0 10px; width: 100%;}
.navbar-nav li a{  font-size: 16px; font-weight: 300; color: #404040!important; padding: 10px 20px; margin: 0 0 10px; 
border-radius: 3px;}
.navbar-nav li.active a{  color: #fff!important; background: #8b6dff!important;
 -webkit-box-shadow: 2px 6px 10px 0px rgba(0,0,0,0.45);
-moz-box-shadow: 2px 6px 10px 0px rgba(0,0,0,0.45);
box-shadow: 2px 6px 10px 0px rgba(0,0,0,0.45);}
.navbar-nav li a:hover{  color: #fff!important; background: #8b6dff!important;
 -webkit-box-shadow: 2px 6px 10px 0px rgba(0,0,0,0.45);
-moz-box-shadow: 2px 6px 10px 0px rgba(0,0,0,0.45);
box-shadow: 2px 6px 10px 0px rgba(0,0,0,0.45);}
.navbar-nav li a i{ padding: 0 20px 0 0;}
.navbar-collapse { padding: 0; border: 0; margin: 0px 0 0;}
.navbar-default { background: none; border: 0; margin: 0;}
/* EXAMPLE 9 - Center with Flexbox and Text*/
.brand-centered { display: flex; justify-content: center; position: absolute; width: 100%; left: 0; top: 0;}
.brand-centered .navbar-brand { display: flex; align-items: center;}
.navbar-toggle { z-index: 1;}
.navbar-default .navbar-toggle{ border: none!important;}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{ background: none;}
.navbar-default .navbar-toggle .icon-bar{ background: #fff; color: #ccc;}
.navbar-default .navbar-toggle .icon-bar:hover,
.navbar-default .navbar-toggle .icon-bar:active{ background: #fff; color: #8b6dff;}
/* CSS Transform Align Navbar Brand Text ... This could also be achieved with table / table-cells */
.navbar-alignit .navbar-header { -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; transform-style: preserve-3d;
height: 50px;}
.navbar-alignit .navbar-brand { top: 50%; display: block; position: relative; height: auto; transform: translate(0,-50%); margin-right: 15px;
margin-left: 15px;}
.navbar-nav>li>.dropdown-menu{ z-index: 9999;}

.right-side{ float: right; width: 920px;}

.your-profile{ float: left; margin: 0 0 0 10px;}
.your-profile h2{ margin: 0; font-size: 18px; font-weight: 400; color: #fff; padding: 0 0 10px;}
.your-profile p{ margin: 0; font-size: 14px; font-weight: 500; color: #fff; opacity: 0.7;}

.form-holder{ display: inline-block; width: 680px;}
.form-holder .group{ width: 45.5%; margin: 0 15px 20px; float: left;
 -webkit-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);
box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);}
.form-holder .group-2{ width: 95%; margin: 0 15px 20px; float: left; position: relative;
 -webkit-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);
box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);}
.form-holder input{ height: 65px; border-radius: 5px!important; border: 0; background: #fff;
font-size: 14px; font-weight: 500; color: #303135; padding: 15px 20px 0; text-transform: capitalize!important;
opacity: 1!important;}
.form-holder input::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #303135;}
.form-holder input::-moz-input-placeholder { /* Firefox 19+ */ color: #303135;}
.form-holder input::-ms-input-placeholder { /* IE 10+ */ color: #303135;}
.form-holder input::-moz-input-placeholder { /* Firefox 18- */ color: #303135;}
.form-holder select{ height: 65px; width: 100%; border: 0; background: #fff;
font-size: 14px; font-weight: 500; color: #303135; padding: 15px 20px 0; text-transform: uppercase!important;
opacity: 1;}
.form-holder label{ text-transform: uppercase; font-size: 10px; font-weight: 300; color: #3b4148; top: 10px; left: 20px;
opacity: 0.7;}
.form-holder .label-2{ text-transform: uppercase; font-size: 11px; font-weight: 500; color: #b9bed1;
top: 34px; left: 20px; opacity: 0.7;}
.form-holder .input-2{ padding: 15px 65px 0; }

.comboSelect{ border-radius: 5px!important; float: left; margin: 0 15px 20px; width: 95%;
 -webkit-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);
box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);}
.comboSelect .group{ box-shadow: none!important;}
.comboSelect .group:first-child{ margin: 0;}
.comboSelect .group:first-child select{ border-top-left-radius: 5px !important;
 border-bottom-left-radius: 5px !important;}
.comboSelect .group:last-child{ margin: 0;}
.comboSelect .group:first-child,
.comboSelect .group:last-child{ width: 50%;}
.comboSelect .group:first-child input,
.comboSelect .group:last-child input{ border-radius: 0!important; border-top-right-radius: 5px !important;
 border-bottom-right-radius: 5px !important;}

/********** Notification Page ***********/

.notification-detail{ background: #fff; border-radius: 5px; overflow: hidden; padding: 10px; margin: 0 0 20px;
 -webkit-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);
box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);}
.notification-detail .noti-icon{ display: inline-block; color: #8570fb; background: #e3ebee; border-radius: 100%;
padding: 10px; min-height: 40px; min-width: 40px; text-align: center; margin: 0px 30px 0 0;}
.notifications-text{ float: left; text-align: left;}
.notifications-text strong{ display: block; font-size: 14px; font-weight: 500; color: #303135;}
.notifications-text b{ display: block; font-size: 10px; font-weight: 400; color: #3b4148; text-transform: uppercase;
opacity: 0.5;}
.notification-detail a{ display: inline-block; color: #ccc; margin: 8px 10px 0 0;}

/********** Our Work Page ***********/

.work-detail .card-2{ padding: 100px 0 0; width: 270px; height: 215px; background: #f4efff; text-align: center; float: left;
margin: 7.5px; border-radius: 5px; -webkit-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);
box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);}
.work-detail .card{ padding: 60px 0; width: 270px; border-radius: 5px; height: 215px; text-align: center; float: left;
margin: 7.5px; background: #fff; -webkit-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);
box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);}
.work-detail .noti-icon{ margin: 0 0 10px; line-height: 1.5em;}
.work-detail strong{ display: block; font-size: 14px; font-weight: 500; color: #303135; padding: 0 0 5px;}
.work-detail b{ display: block; font-size: 10px; font-weight: 400; color: #3b4148; text-transform: uppercase;
opacity: 0.5;}

/********** Questionnaire Page ***********/

.questionnaire-holder{}

.questionnaire-detail-text h4{ margin: 0; font-size: 60px; font-weight: 400; color: #fff; padding: 0 120px 20px;}
.questionnaire-detail-text p{ margin: 0; font-size: 24px; font-weight: 300; color: #fff; padding: 0 0 40px;}
.questionnaire-detail-text section{ display: inline-block;}
.questionnaire-detail-text .free-btn,.questionnaire-detail-text .free-btn-2{ box-shadow: none;}

.questionnaire-detail{ display: inline-block; width: 860px; text-align: left;}
.questionnaire-detail h5{ margin: 0; font-size: 27px; font-weight: 700; color: #fff; padding: 0 0 40px;}
.questionnaire-detail h5 i{ font-size: 14px; padding: 0 5px; display: inline-block;}
.questionnaire-detail strong{ margin: 0; font-size: 20px; font-weight: 400; color: #fff; display: inline-block;}
.questionnaire-detail .card{ width: 200px; height: 215px; padding: 0;}
.questionnaire-detail .card a{ padding: 60px 0; display: block; height: 215px; position: relative;}
.questionnaire-detail .card a:hover::before{ content: ""; position: absolute; top: 0; left: 0; width: 30%; height: 30%;
background: #7842e6; border-top-left-radius: 5px;}
.questionnaire-detail .card a img{ padding: 0 0 20px;}
.questionnaire-detail .card a strong{ display: block; font-size: 14px; font-weight: 400; color: #333; 
text-transform: uppercase;}

/********** Singup Page ***********/
.left-side-2{ background: #fff; float: left; width: 480px; height: 695px; padding: 40px; position: fixed;}
.left-side-2 .logo-2{ border: 0;}

.signup-btn{ display: block; font-size: 26px; font-weight: 700; color: #161616; background: #fff; padding: 17px 20px;
 border-radius: 5px; min-width: 430px; margin: 230px 0 0 60px; -webkit-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45) margin 0 0;
box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.45);}
.signup-btn i{ float: right; padding: 7px 0 0; color: #8b6dff;}


.right-side-2{ float: right; width: 765px;}

.signup-detail{ display: inline-block; width: 470px; padding: 230px 0 0;}
.signup-detail .card{ width: 140px; height: 140px; padding: 0;}
.signup-detail .card a{ display: block; padding: 57px 0; color: #8b6dff;}

/********** Payment Gateway Page ***********/
.payment-holder{}

.payment-holder .signup-detail{ padding: 70px 0 0;}
.payment-holder .card a{ height: 140px; padding: 60px 0;}
.payment-holder .card:nth-child(3) a{ padding: 50px 0; }
.payment-holder .card:last-child a { padding: 40px 0;}
.payment-holder .card a img{ padding: 0;}

/********** Signup With Number Page ***********/
.signup-with-num-detail{}

.signup-with-num-detail input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0;}
.signup-with-num-detail .signup-detail{ padding: 130px 0 0;}
.signup-detail img{ padding: 0 0 30px;}
.signup-detail h4{ margin: 0; font-size: 26px; font-weight: 700; color: #fff; padding: 0 0 30px;}
.signup-with-num-detail form { padding: 0 20px;}
.signup-with-num-detail input::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: white;}
.signup-detail .digit-input{ font-size: 22px; font-weight: 300; color: #fff; border: 0; 
font-family: 'Gothic A1', sans-serif; background: #9976ff; margin: 0 0 10px; padding: 30px 20px; border-radius: 5px;}
.signup-with-num-detail .free-btn{ display: inline-block; float: none; padding: 10px 20px; min-width: 220px;
margin: 40px 0 0; box-shadow: none; border: 0; min-height: 70px; font-weight: 700;
font-family: 'Gothic A1', sans-serif;}

/********** Varifications Code Page ***********/
.varifications-detail{}

.varifications-detail .signup-detail{ padding: 130px 0 0; width: 580px;}
.varifications-detail .signup-detail h4{ padding: 0 0 10px; }
.signup-detail p{ margin: 0; font-size: 26px; font-weight: 400; color: #fff; padding: 0 0 50px;}
.varifications-detail .digit-input{ width: 80px; display: inline-block; padding: 35px 33px; margin: 0 5px;}
.varifications-detail input::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: white;}
.varifications-detail input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0;}
.varifications-detail .free-btn{ display: inline-block; float: none; padding: 10px 20px; min-width: 245px;
margin: 80px 0 0; box-shadow: none; border: 0; min-height: 70px; font-weight: 700;
font-family: 'Gothic A1', sans-serif;}
